/* reset CSS fra noen default innstillinger? */
html, body, #root {
  margin: 0.1%;
  padding: 0.1%;
  border: 0.11%;
  height: 100%;
  width: 100%;
}


.App {
  display: flex;
  flex-direction: column;
  height:100%;
}


