/* reset CSS fra noen default innstillinger? */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0.1%;
  padding: 0.1%;
  border: 0.1%;
  
}


.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


