.link {
    fill: none;
    stroke: #89c9b8; /* Forest green for links */
    stroke-width: 2px;
  }
  
  .nodeRect {
    fill: #d4ff8b; /* Dark Olive Green */
    stroke: #bbffbb; /* Dark Sea Green */
    stroke-width: 3px;
  }
  
  text {
    font: 12px sans-serif;
    fill: #305d36; /* Dark green text */
  }

.tree-container {
  flex: 1;
  width: 100%;
  margin: 2%;
  padding: 2%;
  border: 2%;
}


  