.tree-container {
  width: 100%; /* Use 100% of the container width */
  height: 100vh; /* Use 100% of the viewport height, or choose a height that fits your design*/
  /* Other styles...*/
}

.link {
    fill: none;
    stroke: #89c9b8; /* Forest green for links */
    stroke-width: 2px;
  }
  
  .nodeRect {
    fill: #d4ff8b; /* Dark Olive Green */
    stroke: #bbffbb; /* Dark Sea Green */
    stroke-width: 3px;
  }
  
  text {
    font: 12px sans-serif;
    fill: #305d36; /* Dark green text */
  }
  